root = true

[*]
charset = utf-8

[*.cs]
# 缩进设置
indent_style = space
indent_size = 4
brace_style = end_of_line
# 空行设置
new_line_before_catch = false
new_line_before_else = false
csharp_new_line_before_catch = false
new_line_before_finally = false
csharp_blank_lines_after_block_statements = 0
# 去除行尾空格（效果不好）
trim_trailing_whitespace = true
# 长参数方法右括号换行设置
csharp_wrap_parameters_style = chop_if_long
csharp_align_multiline_parameter = false
# Trailing Comma
trailing_comma_in_multiline_lists = true
# if while 等语句必须使用大括号，即使只有一行
braces_for_ifelse = required
braces_for_dowhile = required
braces_for_while = required
